@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
$background-color: #d0c3c5;
$font-family: 'Asap', sans-serif;
$font-size: 14px;


@mixin infos($fontcolor: #798c96) {
    color: $fontcolor;
    text-align: center;
    font-family: 'Asap', sans-serif;
    font-size: 1.25vw;
}

@mixin account($fontcolor: #967388) {
    position: relative;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: $fontcolor;
    font-size: 3.25vw;
}

body {
    background: $background-color;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #a57f96;
    font-family: $font-family;
    font-size: $font-size;
}

select {
    width: 100%;
    border: none;
    padding: 10px 15px;
    border-radius: 15px;
    font-family: $font-family;
    color: #414b50;
    font-size: $font-size;

    &:focus {
        outline: none;
        font-family: $font-family;
    }
}

.account {
    @include account;
}

.info {
    @include infos;
}

.avatar {
    position: absolute;
    top: 0;
    right: 1%;
    margin-top: 20px;
    /* adjust the margin as needed */
}

.user-icon {
    font-size: 0.75em;
    /* change font size should change size of icon */
    //float:left; margin:1em;  /* remove this line to avoid float/margin */
}

.user-icon {
    border-radius: 4em;
    border: 1px solid #967388;
    height: 6em;
    width: 6em;
    background: none;
    padding: 0.1em;
}

.user-icon::before {
    content: " ";
    display: block;
    height: 2em;
    width: 2em;
    background: #967388;
    position: relative;
    left: 2em;
    top: 0.8em;
    border-radius: 2em;
}

.user-icon::after {
    content: " ";
    display: block;
    height: 2em;
    width: 4em;
    background: #967388;
    position: relative;
    left: 1em;
    top: 1em;
    border-radius: 2em 2em 0 0;
}