header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #b88dab;
}

* {
    max-width: 100%;
}

body {
    background-color: #d0c3c5;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

nav {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 10px;
    font-size: 20px;
}

nav ul li a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}


nav ul li a:hover {
    background-color: #a46e94;
}

.logo{
    display: flex;
    list-style: none;
    justify-content: center;
}
/*
--------------------------------
*/

.content {
    margin: auto;
    width: 80%;
    padding: 20px;
    /* border: 2px solid black;*/
}

.first-text {
    font-weight: bold;
    font-size: 40px;
}

#introduction {
    font-size: 18px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.second-text {
    max-width: 100%;
    font-weight: bold;
    font-size: 30px;
}

.model_style_1 {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.model_style_1 .second-photo {
    max-width: 100%;
    width: 60%;
}

.model_style_1 .text {
    text-align: center;
    align-self: center;
    padding: 10px;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    /*flex-wrap: wrap;*/
}

.container a {
    width: 30%;
    /*border-color: black;
    border-width: 1px;
    border-style: solid;*/
    padding: 20px;
}

.container p {
    text-align: center;
    color: #000d33;
    padding: 5px;
}


.bold {
    font-weight: bold;
    font-size: 20px;
}


.footer {
    width: 100%;
    text-align: center;
    border: 2px black solid;
    background-color: rgb(184, 140, 170);
}

@media only screen and (max-width: 700px) {
    #introduction{
        font-size: 24px;
    }

    .bold{
        font-weight: bold;
        font-size: 24px;
    }

    .model_style_1 {
        flex-direction: column;
    }

    .model_style_1 .second-photo{
        width: 90%;
        border: solid 2px black;
        margin: auto;
    }

    .model_style_1 p{
        font-size: 22px;
    }

    .container{
        flex-direction: column-reverse;
        margin: 50px 0;
        width: 90%;
    }

    .container a{
        width: 80%;
        margin: auto;
        font-size: 22px;
    }

}