.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    border: 2px solid pink;
    border-radius: 10px;
  }
  
  .modal h1 {
    text-align: center; /* Centrare text */
  }
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-container select {
    margin-bottom: 10px;
  }
  .modal-content .h1{
    text-align: center;
  }
  .hidden {
    display: none;
  }
  .checkbox-container {
    display: inline-block;
    margin-right: 10px;
  }

  .button {
    display: inline-block;
    border-radius: 4px;
    background-color: #a46e94;
    color: #fff;
    text-align: center;
    font-size: 16px;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  }
  .button:hover {
    background-color: #412c3b;
  }
    .select_sort,
    .select_brands,
    .select_ten,
    .select_buze,
    .select_ochii {
    border: 2px solid #967388;
    border-radius: 10px;
    padding: 5px;
    outline: none;
    }
/* Stiluri generale */

/* Ascunde initial clasa products_phone pe dispozitive desktop */
@media (min-width: 768px) {
    #products {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; 
        margin-bottom: 50px;
    }
    
    #products a {
        border: #967388 2px solid;
        border-radius: 25px;
        background-color: white;
        flex-basis: 25%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    
    #products a img {
        height: 300px;
        width: auto;
        align-self: center; 
    }
    
    #products p {
        text-align: center;
        color: #000d33;
        padding: 5px;
        text-decoration: none;
        max-width: 200px;
        word-wrap: break-word;
        margin: 0 auto;
    }
    #products_phone {
        display: none;
      }
  }
  
  /* Stilurile pentru mobil */
  @media (max-width: 767px) {
    #products {
      display: none;
    }
  
    #products_phone {
      display: block;
      margin-bottom: 50px;
    }
    .products_phone {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .product {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border-radius: 10px;
        margin: 10px;
        padding: 10px;
      }
      
      .product img {
        width: auto;
        height: 200px;
        object-fit: cover;
        border: 2px solid #967388;
        border-radius: 10px;
      }           
      
      .product p {
        margin-top: 10px;
        text-decoration: underline;
      }
      
      .product p a {
        color: black;
        text-decoration: none;
      }
      
  }












body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.logo {
    display: flex;
    list-style: none;
    justify-content: center;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #b88dab;
    display: flex;
}

.topnav {
    overflow: hidden;
    position: fixed;
    padding-top: 20px;
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.topnav a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.topnav .icon {
    display: none;
}

.left_menu {
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    left: 0;
    top: 20%;
    width: 16%;
    justify-content: flex-start;
    background-color: #b88dab;
    border-top: 2px white solid;
    border-bottom: 2px white solid;
    flex-direction: column;
    min-height: 100vh; /* Înălțimea minimă a meniului este întreaga înălțime a paginii */
}


.left_menu p {
    color: white;
    font-size: 20px;
    margin-left: 5px;
}

.left_menu select {
    width: 80%;
    border: none;
    padding: 10px 15px;
    border-radius: 15px;
    font-family: "Asap", sans-serif;
    color: #414b50;
    font-size: 16px;
    margin-left: 5px;
}

.left_menu select:focus {
    outline: none;
    font-family: "Asap", sans-serif;
}

.sort_filter {
    display: none;
}

#page {
    display: flex;
    justify-content: space-around;
    margin: auto;
}

#content {
    background: linear-gradient(to bottom, #e3d1dd, white);
    left: 16%;
    width: 83%;
    top: 20%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
    font-size: 24px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

.videos-container {
    display: flex;
    width: max-content;
    transition: transform 0.3s ease-in-out;
    margin-bottom: 20px;
}

.videos-container iframe {
    width: 500px; /* Modified to fit the container width */
    height: 300px; /* Adjusts height based on aspect ratio */
    margin-right: 20px;
}

/* Media query for mobile devices */
@media screen and (max-width: 480px) {
    .carousel{
        visibility: hidden;
    }
}

/*.container {*/
/*  display: flex;*/
/*  justify-content: space-between;*/
/*  flex-direction: row;*/
/*}*/
/*.container a {*/
/*  width: 20%;*/
/*  padding: 20px;*/
/*  border-color: #967388;*/
/*  border-width: 2px;*/
/*  border-style: solid;*/
/*  border-radius: 25px;*/
/*}*/
/*.container a img {*/
/*  border-radius: 25px;*/
/*  max-width: 100%;*/
/*}*/
/*.container p {*/
/*  text-align: center;*/
/*  color: #000d33;*/
/*  padding: 5px;*/
/*  text-decoration: none;*/
/*}*/

/* #products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    margin-bottom: 50px;
}

#products a {
    border: #967388 2px solid;
    border-radius: 25px;
    background-color: white;
    flex-basis: 25%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#products a img {
    height: 300px;
    width: auto;
    align-self: center; 
}

#products p {
    text-align: center;
    color: #000d33;
    padding: 5px;
    text-decoration: none;
    max-width: 200px;
    word-wrap: break-word;
    margin: 0 auto;
} */

.row {
    display: flex;
    justify-content: space-between;
}

.footer {
    display: flex;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #b88dab;
    color: white;
    text-align: center;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    position: fixed;
}


.left {
    width: 33%;
    height: auto;
    box-sizing: border-box;
}

.center {
    width: 33%;
    height: auto;
    box-sizing: border-box;
}

.right {
    width: 33%;
    height: auto;
    box-sizing: border-box;
}

@media screen and (max-width: 800px) {
    /* Remove the width properties from the .center, .left, and .right classes */
    .center,
    .left,
    .right {
        width: auto;
    }

    /* #products a img {
        max-width: 100%;
        display: block;
        margin: 0 auto;
    }  */
        /* Afișează clasa products_phone pe dispozitive mobile */
        .products_phone {
            display: block;
        }
    
        /* Ascunde clasa desktop_only pe dispozitive mobile */
        .desktop_only {
            display: none;
        }
}

.product-image {
    object-fit: contain;
    height: 100%;
    width: 100%;
    max-height: 200px; /* Înălțimea maximă a imaginii */
    max-width: 200px; /* Lățimea maximă a imaginii */
}

.product-container {
    margin-right: 10px;
}

@media screen and (max-width: 1000px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        display: block;
    }

    .responsive {
        display: block;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

@media screen and (max-width: 600px) {
    /* #products a {
        flex-basis: 100%;
    } */
        /* Afișează clasa products_phone pe dispozitive mobile */
        .products_phone {
            display: block;
        }
    
        /* Ascunde clasa desktop_only pe dispozitive mobile */
        .desktop_only {
            display: none;
        }
}

@media only screen and (max-width: 700px) {
    #products a {
        flex-basis: 100%;
    }

    .sort_filter {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 95%;
        padding: 5px;
    }

    .sort_filter div {
        border: 2px solid #967388;
        padding: 10px;
        font-size: 20px;
        border-radius: 25px;
    }

    .left_menu {
        display: none;
    }

    #content {
        width: 100%;
    }

    #content #tutoriale {
        width: 95%;
    }

    .videos {
        flex-direction: column;
    }

    .videos iframe {
        width: 90%;
        padding: 10px;
    }

    .container {
        flex-direction: column-reverse;
        margin: 50px 0;
        width: 100%;
        border-radius: 25px;
    }

    .container a {
        width: 80%;
        margin: auto;
        font-size: 22px;
        border-radius: 25px;
    }
}

/*# sourceMappingURL=makeup.css.map */