$color_1: #414b50;
$color_2: #b88dab;
$color_3: #798c96;
$font-family_1: "Asap", sans-serif;
$font-family_2: "Dancing Script", cursive;

@import "https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap";

select {
    width: 100%;
    border: none;
    padding: 10px 15px;
    border-radius: 15px;
    font-family: $font-family_1;
    color: $color_1;
    font-size: 14px;

    &:focus {
        outline: none;
        font-family: $font-family_1;
    }
}

.account {
    position: relative;
    font-family: $font-family_2;
    text-align: center;
    color: $color_2;
    font-size: 3.5vw;
}

.info {
    color: $color_3;
    text-align: center;
    font-family: $font-family_1;
    font-size: 1.25vw;
}

@media only screen and (max-width: 768px) {
    .account {
        font-size: 25px;
    }

    .info {
        font-size: 13px;
    }

    select {
        padding: 5px;
    }
}